<div id="drawer">
  Hello There
</div>
<div id="main-view">
  <div class="toggle-button">
    <div class="hamburger"></div>
  </div>
  <p>I Have a <span class="which-drawer">Left</span> Drawer<p>
  <div class="link" data-position="right">Show me a <span>right</span> drawer</div>
  <div class="link" data-position="top">Show me a <span>top</span> drawer</div>
  <div class="link" data-position="bottom">Show me a <span>bottom</span> drawer</div>
  <div class="link" data-position="left">Show me a <span>left</span> drawer</div>
</div>