.view.example-drawer {
  .view-interior,
  #drawer,
  #main-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40% 15px 0 15px;
    color: #fff;
    text-align: center;
    font-family: 'OpenSans-CondLight';
    text-transform: uppercase;
    font-size: 24px;

    .which-drawer {
      font-size: 34px;
    }



    .link {
      display: block;
      text-transform: none;
      font-size: 16px;
      padding-bottom: 15px;
      span {
        text-transform: uppercase;
        font-size: 24px;
      }
    }

    .toggle-button {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 44px;
      height: 44px;
      z-index: 10;

      .hamburger {
        width: 34px;
        height: 5px;
        background: #fff;
        position: absolute;
        top: 9px;
        left: 3px;
        display: block;
        margin: 10px 2px 10px 2px;
        &:before,
        &:after {
          width: 34px;
          height: 5px;
          background: #fff;
          display: block;
          position: absolute;
          right: 0;
          left: 0;
          content: '';
        }
        &:before {
          top: -11px;
        }
        &:after {
          bottom: -11px;
        }
      }
    }

  }
  #drawer {
    background: @lavacaBlue;
  }
  #main-view {
    background: @lavacaGold;
  }

  .view-interior[data-position="left"] #main-view .toggle-button {
    top: 10px;
    left: 10px;
    right: auto;
    bottom: auto;
  }
  .view-interior[data-position="right"] #main-view .toggle-button {
    top: 10px;
    left: auto;
    right: 10px;
    bottom: auto;
  }
  .view-interior[data-position="bottom"] #main-view .toggle-button {
    top: auto;
    left: 10px;
    right: auto;
    bottom: 10px;
  }
  .view-interior[data-position="top"] #main-view .toggle-button {
    top: 10px;
    left: 10px;
    right: auto;
    bottom: auto;
  }

}